@charset "UTF-8";
/* Show active breakpoint in top right corner of viewport */
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }
  @media all and (min-width: 20em) {
    body:before {
      content: "mobile ≥ 320px (20em)"; } }
  @media all and (min-width: 40em) {
    body:before {
      content: "tablet ≥ 640px (40em)"; } }
  @media all and (min-width: 50em) {
    body:before {
      content: "tabletWide ≥ 800px (50em)"; } }
  @media all and (min-width: 64em) {
    body:before {
      content: "desktop ≥ 1024px (64em)"; } }
  @media all and (min-width: 75em) {
    body:before {
      content: "widescreen ≥ 1200px (75em)"; } }
  @media all and (min-width: 120em) {
    body:before {
      content: "tvscreen ≥ 1920px (120em)"; } }

/* Responsive styles for devices that understand media queries */
@media all and (max-width: 19.99em) {
  .responsive:after {
    content: "to-mobile"; } }
@media all and (min-width: 20em) {
  .responsive:after {
    content: "from-mobile"; } }
@media all and (min-width: 20em) and (max-width: 39.99em) {
  .responsive:after {
    content: "from-mobile-to-tablet"; } }
@media all and (min-width: 40em) {
  .responsive:after {
    content: "from-640"; } }
@media all and (max-width: 39.99em) {
  .responsive:after {
    content: "to-tablet"; } }
@media all and (max-width: 39.99em) and (orientation: landscape) {
  .responsive:after {
    content: "to-tablet-and-orientation-landscape"; } }
@media all and (min-width: 40em) {
  .responsive:after {
    content: "from-tablet"; } }
@media all and (min-width: 40em) and (max-width: 63.99em) {
  .responsive:after {
    content: "from-tablet-to-desktop"; } }
@media all and (min-width: 48em) and (max-width: 63.9375em) and (orientation: portrait) {
  .responsive:after {
    content: "from-768-to-1023-and-orientation-portrait"; } }
@media all and (min-width: 64em) {
  .responsive:after {
    content: "from-desktop"; } }
@media all and (max-width: 70em) {
  .responsive:after {
    content: "to-70em"; } }
@media all and (max-width: 68.75em) {
  .responsive:after {
    content: "to-1100px"; } }
@media all and (min-width: 64em) and (max-width: 74.99em) {
  .responsive:after {
    content: "from-desktop-to-widescreen"; } }
@media all and (min-width: 75em) {
  .responsive:after {
    content: "from-widescreen"; } }
@media all and (min-width: 75em) and (max-width: 119.99em) {
  .responsive:after {
    content: "from-widescreen-to-tvscreen"; } }
@media all and (min-width: 120em) {
  .responsive:after {
    content: "from-tvscreen"; } }
@media all and (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
  .responsive:after {
    content: "hidpi-screen"; } }
@media all and (min-width: 256em) {
  .responsive:after {
    content: "from-cinema"; } }
@media all and (max-width: 255.99em) {
  .responsive:after {
    content: "to-cinema"; } }

/* Rasterized styles that span or start at the "desktop" breakpoint */
.static:after {
  content: "from-mobile";
  content: "from-640";
  content: "from-tablet";
  content: "from-desktop";
  content: "to-70em";
  content: "to-1100px";
  content: "from-desktop-to-widescreen";
  content: "to-cinema"; }
