/* typography partial */
h1 {
  font-size: 40px;
}
@media screen and (min-width: 50em) {
  h1 {
    font-size: 48px;
  }
}

/* layout partial */
* + * {
  padding: 8px;
}
@media screen and (min-width: 50em) {
  * + * {
    padding: 12px;
  }
}
