// this is a simple way to use mq with custom params
//

@use '../mq' as responsive with (
  $breakpoints: (
    vga: 640px,
    svga: 800px,
    xga: 1024px ,
    uxga: 1600px,
  )
);


body {
  font-size: 16px;
  @include  responsive.mq($until:xga) {
    font-size: 18px;
  }
}
