@charset "UTF-8";
body {
  font-size: 16px;
}
@media (min-width: 46.25em) {
  body {
    font-size: 18px;
  }
}

body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 50em) {
  body:before {
    content: "L ≥ 800px (50em)";
  }
}
@media (min-width: 75em) {
  body:before {
    content: "XL ≥ 1200px (75em)";
  }
}
