@charset "UTF-8";
body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

@media (min-width: 64em) {
  body:before {
    content: "xga ≥ 1024px (64em)";
  }
}
@media (min-width: 40em) {
  body:before {
    content: "vga ≥ 640px (40em)";
  }
}
body {
  font-size: 100%;
}
@media (min-width: 64em) {
  body {
    font-size: 80%;
  }
}
