/* Error: Undefined mixin.
 *   ,
 * 5 | /     @include mq($until: mobile) {
 * 6 | |         content: "to-mobile";
 * 7 | \     }
 *   '
 *   test/_after-import.scss 5:5    styles()
 *   test/_after-import.scss 117:5  @import
 *   test/test-modules.scss 21:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a   \2577 \a 5 \2502  \250c      @include mq($until: mobile) {\a 6 \2502  \2502          content: "to-mobile";\a 7 \2502  \2514      }\a   \2575 \a   test/_after-import.scss 5:5    styles()\a   test/_after-import.scss 117:5  @import\a   test/test-modules.scss 21:9    root stylesheet';
}
