/* Error: No argument named $static-breakpoint.
 *     ,--> test/_after-import.scss
 * 110 |       @include mq($from: L, $breakpoints: $my-breakpoints, $static-breakpoint: $my-static-breakpoint) {
 *     |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *     '
 *     ,--> _mq.scss
 * 127 |   @mixin mq(
 *     | ,--------^
 * 128 | |     $from: false,
 * 129 | |     $until: false,
 * 130 | |     $and: false,
 * 131 | |     $media-type: $mq-media-type,
 * 132 | |     $breakpoints: $mq-breakpoints,
 * 133 | | ) {
 *     | '-^ declaration
 *     '
 *   test/_after-import.scss 110:5  mq()
 *   test/_after-import.scss 110:5  styles()
 *   test/_after-import.scss 117:5  @import
 *   test/test.scss 6:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: No argument named $static-breakpoint.\a     \250c \2500 \2500 > test/_after-import.scss\a 110 \2502        @include mq($from: L, $breakpoints: $my-breakpoints, $static-breakpoint: $my-static-breakpoint) {\a     \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a     \2575 \a     \250c \2500 \2500 > _mq.scss\a 127 \2502    @mixin mq(\a     \2502  \250c \2500 \2500 \2500 \2500 \2500 \2500 \2500 \2500 ^\a 128 \2502  \2502      $from: false,\a 129 \2502  \2502      $until: false,\a 130 \2502  \2502      $and: false,\a 131 \2502  \2502      $media-type: $mq-media-type,\a 132 \2502  \2502      $breakpoints: $mq-breakpoints,\a 133 \2502  \2502  ) {\a     \2502  \2514 \2500 ^ declaration\a     \2575 \a   test/_after-import.scss 110:5  mq()\a   test/_after-import.scss 110:5  styles()\a   test/_after-import.scss 117:5  @import\a   test/test.scss 6:9             root stylesheet";
}
