/* Show active breakpoint in top right corner of viewport */
/* Responsive styles for devices that understand media queries */
.responsive:after {
  /* Added a custom breakpoint: (mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tiny breakpoint: (tiny: 16px, mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tiny2 breakpoint at a previously added size: (tiny: 16px, tiny2: 16px, mobile: 320px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tablet2 breakpoint at an existing initial size (already in $mq-breakpoints):
      (tiny: 16px, tiny2: 16px, mobile: 320px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a breakpoint in the middle (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
}
@media (max-width: 19.99em) {
  .responsive:after {
    content: "to-mobile";
  }
}
@media (min-width: 20em) {
  .responsive:after {
    content: "from-mobile";
  }
}
@media (min-width: 20em) and (max-width: 46.24em) {
  .responsive:after {
    content: "from-mobile-to-tablet";
  }
}
@media (min-width: 40em) {
  .responsive:after {
    content: "from-640";
  }
}
@media (max-width: 46.24em) {
  .responsive:after {
    content: "to-tablet";
  }
}
@media (max-width: 46.24em) and (orientation: landscape) {
  .responsive:after {
    content: "to-tablet-and-orientation-landscape";
  }
}
@media (min-width: 46.25em) {
  .responsive:after {
    content: "from-tablet";
  }
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .responsive:after {
    content: "from-tablet-to-desktop";
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) and (orientation: portrait) {
  .responsive:after {
    content: "from-768-to-1023-and-orientation-portrait";
  }
}
@media (min-width: 61.25em) {
  .responsive:after {
    content: "from-desktop";
  }
}
@media (max-width: 70em) {
  .responsive:after {
    content: "to-70em";
  }
}
@media (max-width: 68.75em) {
  .responsive:after {
    content: "to-1100px";
  }
}
@media (min-width: 61.25em) and (max-width: -0.01em) {
  .responsive:after {
    content: "from-desktop-to-widescreen";
  }
}
@media (min-width: 0em) {
  .responsive:after {
    content: "from-widescreen";
  }
}
@media (min-width: 0em) and (max-width: -0.01em) {
  .responsive:after {
    content: "from-widescreen-to-tvscreen";
  }
}
@media (min-width: 0em) {
  .responsive:after {
    content: "from-tvscreen";
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
  .responsive:after {
    content: "hidpi-screen";
  }
}
@media all {
  .responsive:after {
    content: "empty-media-query";
  }
}
@media (min-width: 256em) {
  .responsive:after {
    content: "from-cinema";
  }
}
@media (min-width: 1em) {
  .responsive:after {
    content: "from-tiny2";
  }
}
@media (min-width: 40em) {
  .responsive:after {
    content: "from-tablet2";
  }
}
@media (max-width: 255.99em) {
  .responsive:after {
    content: "to-cinema";
  }
}
@media (min-width: 56.25em) {
  .responsive:after {
    content: "custom-breakpoint-list";
  }
}

/* Rasterized styles that span or start at the "desktop" breakpoint */
.static:after {
  /* Added a custom breakpoint: (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tiny breakpoint: (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tiny2 breakpoint at a previously added size: (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a tablet2 breakpoint at an existing initial size (already in $mq-breakpoints):
      (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
  /* Added a breakpoint in the middle (tiny: 16px, tiny2: 16px, mobile: 320px, middle: 550px, tablet2: 640px, tablet: 740px, desktop: 980px, wide: 1300px, cinema: 4096px) */
}
@media (max-width: 19.99em) {
  .static:after {
    content: "to-mobile";
  }
}
@media (min-width: 20em) {
  .static:after {
    content: "from-mobile";
  }
}
@media (min-width: 20em) and (max-width: 46.24em) {
  .static:after {
    content: "from-mobile-to-tablet";
  }
}
@media (min-width: 40em) {
  .static:after {
    content: "from-640";
  }
}
@media (max-width: 46.24em) {
  .static:after {
    content: "to-tablet";
  }
}
@media (max-width: 46.24em) and (orientation: landscape) {
  .static:after {
    content: "to-tablet-and-orientation-landscape";
  }
}
@media (min-width: 46.25em) {
  .static:after {
    content: "from-tablet";
  }
}
@media (min-width: 46.25em) and (max-width: 61.24em) {
  .static:after {
    content: "from-tablet-to-desktop";
  }
}
@media (min-width: 48em) and (max-width: 63.9375em) and (orientation: portrait) {
  .static:after {
    content: "from-768-to-1023-and-orientation-portrait";
  }
}
@media (min-width: 61.25em) {
  .static:after {
    content: "from-desktop";
  }
}
@media (max-width: 70em) {
  .static:after {
    content: "to-70em";
  }
}
@media (max-width: 68.75em) {
  .static:after {
    content: "to-1100px";
  }
}
@media (min-width: 61.25em) and (max-width: -0.01em) {
  .static:after {
    content: "from-desktop-to-widescreen";
  }
}
@media (min-width: 0em) {
  .static:after {
    content: "from-widescreen";
  }
}
@media (min-width: 0em) and (max-width: -0.01em) {
  .static:after {
    content: "from-widescreen-to-tvscreen";
  }
}
@media (min-width: 0em) {
  .static:after {
    content: "from-tvscreen";
  }
}
@media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi), (min-resolution: 1.3dppx) {
  .static:after {
    content: "hidpi-screen";
  }
}
@media all {
  .static:after {
    content: "empty-media-query";
  }
}
@media (min-width: 256em) {
  .static:after {
    content: "from-cinema";
  }
}
@media (min-width: 1em) {
  .static:after {
    content: "from-tiny2";
  }
}
@media (min-width: 40em) {
  .static:after {
    content: "from-tablet2";
  }
}
@media (max-width: 255.99em) {
  .static:after {
    content: "to-cinema";
  }
}
@media (min-width: 56.25em) {
  .static:after {
    content: "custom-breakpoint-list";
  }
}

.static-forced:after {
  content: "Static, forced to tablet";
}

/* Do not rasterize print media queries into when $mq-responsive is false */
@media print {
  .print:after {
    content: "Should not appear, because print style only";
  }
}
/* Only style screen media type */
@media (max-width: 19.99em) {
  body {
    font-size: 1rem;
  }
}
@media screen, print and (max-width: 19.99em) {
  body {
    content: "screen-and-print";
  }
}

/* Only style print media type */
@media (max-width: 19.99em) {
  body {
    font-size: 2rem;
  }
}

/* Override $mq-base-font-size (should log a warning) */
@media (min-width: 20em) {
  body {
    font-size: 2rem;
  }
}
